<mat-toolbar color="primary">
  <span>Angular</span>
  &nbsp;
  <button type="button" aria-label="Toggle sidenav" mat-button routerLink="/Home">
    Home
  </button>
  &nbsp;
  <button type="button" aria-label="Toggle sidenav" mat-button mat-display-1 routerLink="/Employees">
    Employees
  </button>
  &nbsp;
  <button type="button" aria-label="Toggle sidenav" mat-button routerLink="/Employee">
    Employee
  </button>
  &nbsp;
  <button type="button" aria-label="Toggle sidenav" mat-button routerLink="/rxJS">
    rxJS
  </button>
  &nbsp;
  <button type="button" aria-label="Toggle sidenav" mat-button routerLink="/Lodash">
    Lodash
  </button>
</mat-toolbar>
